-
  var content = [
    {
      title: 'basic',
      price: 2500,
      list: ['Обмерочный план', 'План расстановки мебели', 'План демонтажный', 'План монтажный', 'План полов с материалами', '—', '—', '—', '—']
    },
    {
      label: 'recommend',
      modifier: 'value-card--selected',
      theme: 'btn--dark-theme',
      title: 'pro',
      price: 3500,
      list: ['Обмерочный план', 'План расстановки мебели', 'План демонтажный', 'План монтажный', 'План полов с материалами', 'План экспликации', '—', '—', '—']
    },
    {
      title: 'exclusive',
      price: 5000,
      list: ['Обмерочный план', 'План расстановки мебели', 'План демонтажный', 'План монтажный', '—', 'План экспликации', 'Чертежи сложных элементов и мебели (если заказывать отдельно - расчет индивидуальный)', 'Спецификация осветительного оборудования', 'Декорирование']
    }
  ]