.tab-bar 
  .tab-bar__wrapper
    .tab-bar__row 
      .tab-bar__item.tab-bar__item--active
        p.tab-bar__text все работы 
        <span class="tab-bar__number">29</span>
      .tab-bar__item
        p.tab-bar__text квартиры 
        <span class="tab-bar__number">18</span>
      .tab-bar__item
        p.tab-bar__text дома 
        <span class="tab-bar__number">12</span>
      .tab-bar__item
        p.tab-bar__text коммерческие помещения 
        <span class="tab-bar__number">2</span>