.tab-bar {
  display: flex;
  justify-content: center;
}

.tab-bar__row {
  display: flex;
  flex-shrink: 0;
  height: rem(36);
  border-bottom: 1px solid $line-color;
}

.tab-bar__item {
  display: flex;
  flex-shrink: 0;
  height: 100%;
  &:not(:last-child) {
    margin-right: rem(50);
  }
}

.tab-bar__item--active {
  color: $greyish-purplish-blue;
  border-bottom: 2px solid $greyish-purplish-blue;
}

.tab-bar__text {
  @include roboto-condensed();
  align-self: center;
  font-size: rem(14);
  line-height: math.div(16, 14);
  letter-spacing: 0.15em;
  margin-right: 5px;
  text-transform: uppercase;
  cursor: pointer;
}

.tab-bar__number {
  font-size: rem(14);
  align-self: flex-start;
}

@include media-down($breakpoint-md-max) {
  .tab-bar__wrapper {
    display: flex;
    overflow-x: scroll;

    &::-webkit-scrollbar {
      display: none;
    }
  }
}

@include media-down(576px) {
  .tab-bar__item:not(:last-child) {
    margin-right: rem(30);
  }
}