-
 var imgs = [
   {
     path: 'img/projects/picture.jpg'
   },
   {
     path: 'img/projects/picture-1.jpg'
   },
   {
     path: 'img/projects/picture-2.jpg'
   },
   {
     path: 'img/projects/picture-3.jpg'
   },
 ]