* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  font-size: 100%;
  text-rendering: optimizeSpeed;
  overflow-x: hidden;
}

body {
  overflow-x: hidden;
}

button,
input,
textarea {
  font-family: inherit;
  border: none;
}

button {
  cursor: pointer;
  background: transparent;
  color: inherit;
}

input:focus,
button:focus,
textarea:focus {
  outline: none;
}

input::placeholder,
textarea::placeholder {
  color: inherit;
  font-size: inherit;
}

select:focus-visible {
  outline: none !important;
}

ul li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  user-select: none;
  max-width: 100%;
  height: auto;
}

h1,
h2,
h3,
h4 {
  font-family: inherit;
  font-weight: inherit;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}