mixin gallery-block(path, modifier)
  .gallery-block(class=modifier)
    .gallery-block__overlay 
      .gallery-block__content 
          h4.gallery-block__title loft 
          p.gallery-block__text Unique collection
    img.gallery-block__img.centered(src=path, alt="")