- 
  var imgs = [
    {
      path: 'img/gallery/picture14.jpg',
      modifier: 'gallery-block--high'
    },
    {
      path: 'img/gallery/picture11.jpg'
    },
    {
      path: 'img/gallery/picture12.jpg'
    },
    {
      path: 'img/gallery/picture4.jpg'
    },
    {
      path: 'img/gallery/picture5.jpg'
    },
    {
      path: 'img/gallery/picture6.jpg',
      modifier: 'gallery-block--big'
    },
    {
      path: 'img/gallery/picture7.jpg',
      modifier: 'gallery-block--long1'
    },
    {
      path: 'img/gallery/picture8.jpg'
    },
    {
      path: 'img/gallery/picture9.jpg'
    },
    {
      path: 'img/gallery/picture10.jpg',
      modifier: 'gallery-block--long2'
    },
  ]