include ../ui/button
include card
include gallery-list

.portfolio 
  .container 
    .portfolio__header 
      h2.portfolio__title портфолио
      include tab-bar/tab-bar
    .portfolio__gallery 
      each img in imgs 
        +gallery-block(img.path, img.modifier)
    .portfolio__row 
      +button('показать еще работы')(class='portfolio__btn')