@import 'tab-bar/tab-bar';
@import 'card';

.portfolio {
  margin-top: rem(110);

  &__title {
    text-align: center;
    margin-bottom: rem(50);
  }
}

.portfolio__row {
  text-align: center;
  margin-top: rem(62);
}

.portfolio__gallery {
  display: grid;
  grid-template-columns: repeat(4, minmax( rem(210), 1fr));
  gap: rem(30);
}

@include media-down($breakpoint-lg-max) {
  .portfolio__gallery {
    grid-template-columns: repeat(2, minmax( rem(290), 1fr));
  }
}

@include media-down(641px) {
  .portfolio__gallery {
    display: flex;
    flex-direction: column;
    gap: rem(10);
  }
}