.contacts 
  h3.contacts__title Наши контакты
  .contacts__col 
    p.contacts__text
      img.contacts__icon(src="img/icons/icon_tel.svg", alt="")
      a(href="tel:+79184123443") +7 918 412-34-43 
    p.contacts__text
      img.contacts__icon(src="img/icons/mail.svg", alt="")
      a.contacts__mail(href="mailto:ladesign@inbox.ru") ladesign@inbox.ru
    p.contacts__text 
      <img class="contacts__icon" src="img/icons/clock.svg" alt=""> Пн - Сб 9:00 — 18:00
    p.contacts__text 
      <img class="contacts__icon" src="img/icons/location.svg" alt=""> г. Краснодар, ул. Братьев Игнатовых, 1/1