mixin projects(title)
  .progects 
    .container
      h3.projects__title= title 
      .projects__carousel.swiper(data-projects-carousel) 
        .swiper-wrapper 
          .projects__slide.swiper-slide 
            .projects__wrapper 
              img.projects__img(src="img/projects/picture.jpg", alt="")
