.accordion 

  .accordion__item 
    button.accordion__header(type="button" data-acccordion)
      h4.accordion__title Каждый проект уникален
      .accordion__circle 
        img.accordion__icon(src="img/icons/arrow-accordion.svg", alt="")
    .accordion__content(style="display: none") 
      p.accordion__text Дизайнеры и архитекторы студии не работают по шаблону, учитывают все пожелания и не копируют работы из чужих портфолио

  .accordion__item 
    button.accordion__header(type="button" data-acccordion)
      h4.accordion__title Полное сопровождение'
      .accordion__circle 
        img.accordion__icon(src="img/icons/arrow-accordion.svg", alt="")
    .accordion__content(style="display: none") 
      p.accordion__text Клиент может заказать услугу по авторскому надзору и вообще не приезжать на объект. Мы будем контролировать и корректировать ход выполнения ремонтных работ согласно дизайн-проекту

  .accordion__item 
    button.accordion__header(type="button" data-acccordion)
      h4.accordion__title Согласование перепланировки
      .accordion__circle 
        img.accordion__icon(src="img/icons/arrow-accordion.svg", alt="")
    .accordion__content(style="display: none") 
      p.accordion__text Поможем согласовать любые планировочные решения, которые не противоречат закону. Возьмем на себя все бумажные вопросы, чтобы освободить ваше время

  .accordion__item 
    button.accordion__header(type="button" data-acccordion)
      h4.accordion__title Техническая документация
      .accordion__circle 
        img.accordion__icon(src="img/icons/arrow-accordion.svg", alt="")
    .accordion__content(style="display: none") 
      p.accordion__text Готовим полный пакет документов, который гарантирует ответственный подход к работе и высокое качество реализованного дизайн-проекта

  .accordion__item 
    button.accordion__header(type="button" data-acccordion)
      h4.accordion__title Строгая политика конфиденциальности
      .accordion__circle 
        img.accordion__icon(src="img/icons/arrow-accordion.svg", alt="")
    .accordion__content(style="display: none") 
      p.accordion__text Обеспечиваем защиту персональных данных заказчиков и не раскрываем их третьим лицам.