section.advantage
  .container 
    h2.advantage__title наша команда дает увереность
    .advantage__row 
      .advantage__col.advantage__col--first 
        p.advantage__subtitle Дизайн-проект от студии LA Design не только совершенен по дизайну, но и реализуем
        include accordion
      .advantage__col.advantage__col--second
        .advantage__wrapper
          img.advantage__img.centered(src="img/design/img3.jpg", alt="")