footer.footer 
  .footer__row 
    a.footer__link(href="#" data-footer-link) houzz 
    a.footer__link(href="#" data-footer-link) telegram 
  .footer__row 
    p.footer__copyright © 2022 LA Design, all rights reserved.