.full-screen 
  .full-screen__overlay
    .full-screen__content
      h1.full-screen__title ladesign 
      h4.full-screen__text дизайн-проекты жилых и коммерческих помещений. малая архитектура
      a.full-screen__arrow-down(href="#")
        img(src="img/icons/arrow-down.svg", alt="") 

  .full-screen__top
    include header 