.header {
  border-bottom: 1px solid $line-color;
}

.header__row {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: rem(30) 0;
}

.header__btn-burger {
  display: none;
}

@include media-down($breakpoint-md-max) {
  .header__logo {
    z-index: 2;
    line-height: 0;
  }

  .header__col {
    position: relative;
    display: flex;
    align-items: center;
  }

  .header__btn-burger {
    display: flex;
    margin-left: rem(80);
    &--dark {
      .header__line, .header__line::before, .header__line::after {
        background: $greyish-purplish-blue;
      }
    }
  }

  .header__line {
    position: relative;
    z-index: 3;
    display: flex;
    transition: all .5s ease-out;
  }

  .header__line, .header__line::before, .header__line::after {
    width: rem(40);
    height: 2px;
    background: $white;
  }
 
  .header__line::before, .header__line::after {
    content: '';
    position: absolute;
    left: 0;
  }

  .header__line::before {
    top: -9px;
    transition: all .4s ease-out;
  }

  .header__line::after {
    top: 9px;
    transition: all .3s ease-out;
  }

  .header__btn-burger--active .header__line {
    background: transparent;
  }

  .header__btn-burger--active .header__line::before,
  .header__btn-burger--active .header__line::after {
    top: 0;
  }

  .header__btn-burger--active .header__line::before {
    transform: rotate(45deg);
  }

  .header__btn-burger--active .header__line::after {
    transform: rotate(-45deg);
  }
}

@include media-down (576px) {
  .header__row {
    padding: rem(20) 0;
  }

  .header__btn-burger {
    margin-left: rem(30);
  }
}
