.phone {
  display: flex;
  align-items: center;
  transition: $transition;
}
.phone__icon {
  width: rem(21);
  height: rem(21);
  fill: transparent;
  stroke: $white;
}
.phone__icon--theme-dark {
  stroke: $greyish-purplish-blue;
}
.phone__link {
  font-size: rem(18);
  margin-left: rem(10);
}

@media (any-hover: hover) {

  .phone:hover .phone__link {
    text-decoration: underline;
  }
}

@include media-down(576px) {
  .phone {
    z-index: 3;
  }
  .phone__link {
    font-size: rem(16);
  }
}
