.btn {
  display: flex;
  align-items: center;
  padding: rem(22) rem(55);
  color: #393246;
  text-transform: uppercase;
  border: 1px solid #393246;
  transition: background-color .4s linear;

  @media (any-hover: hover) {
    &:hover {
      background-color: #393246;
      color: $white;

      .btn__svg {
        stroke: $white;
      }
    }
  }

  &--dark-theme {
    color: $white;
    background-color: #393246;
    border: 1px solid $greyish-purplish-blue;

    @media (any-hover: hover) {
      &:hover {
        background-color: #4A415A;
      }
    }

    .btn__svg {
      stroke: $white;
    }
  }
  
}

.btn__svg {
  width: rem(10);
  height: rem(10);
  margin-left: rem(10);
  stroke: $greyish-purplish-blue;
}
