mixin btn-prev(element)
  button.btn-prev(class= element) 
    img.btn-prev__img(src="img/icons/arrow-prev.svg", alt="")

mixin btn-next(element)
  button.btn-next(class= element) 
    img.btn-next__img(src="img/icons/arrow-next.svg", alt="")

